Repository lucasrabiec/chakra-multi-modal: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --config .prettierrc --write, prettier --parser json --config .prettierrc --write

chore: add stories and adjust modal code
  .prettierrc
  .storybook/main.js
  .storybook/preview.js
  babel.config.js
  example/.eslintrc.js
  example/.gitignore
  example/README.md
  example/package.json
  example/public/favicon.ico
  example/public/index.html
  example/public/logo192.png
  example/public/logo512.png
  example/public/manifest.json
  example/public/robots.txt
  example/src/App.tsx
  example/src/index.tsx
  example/src/react-app-env.d.ts
  example/src/reportWebVitals.ts
  example/src/setupTests.ts
  example/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/MultiModal.stories.tsx
  src/MultiModal.tsx
  src/MultiModalContext.tsx
  src/MultiModalFooter.tsx
  tsconfig.build.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --config .prettierrc --write, prettier --parser json --config .prettierrc --write

chore: pnpm lock update
  pnpm-lock.yaml
Due: none

chore: add stories and adjust modal code (#1)
  .prettierrc
  .storybook/main.js
  .storybook/preview.js
  babel.config.js
  example/.eslintrc.js
  example/.gitignore
  example/README.md
  example/package.json
  example/public/favicon.ico
  example/public/index.html
  example/public/logo192.png
  example/public/logo512.png
  example/public/manifest.json
  example/public/robots.txt
  example/src/App.tsx
  example/src/index.tsx
  example/src/react-app-env.d.ts
  example/src/reportWebVitals.ts
  example/src/setupTests.ts
  example/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/MultiModal.stories.tsx
  src/MultiModal.tsx
  src/MultiModalContext.tsx
  src/MultiModalFooter.tsx
  tsconfig.build.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --config .prettierrc --write, prettier --parser json --config .prettierrc --write

test: add tests & adjust codeWidth to 80
  .prettierrc
  babel.config.js
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/MultiModal.stories.tsx
  src/MultiModal.tsx
  src/MultiModalContext.spec.tsx
  src/MultiModalContext.tsx
  src/MultiModalFooter.tsx
  src/test-setup.ts
  src/utils.tsx
  tsconfig.build.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --config .prettierrc --write, prettier --parser json --config .prettierrc --write

test: add tests & adjust codeWidth to 80 (#2)
  .prettierrc
  babel.config.js
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/MultiModal.stories.tsx
  src/MultiModal.tsx
  src/MultiModalContext.spec.tsx
  src/MultiModalContext.tsx
  src/MultiModalFooter.tsx
  src/test-setup.ts
  src/utils.tsx
  tsconfig.build.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --config .prettierrc --write, prettier --parser json --config .prettierrc --write

Create lint-and-type.yml
  .github/workflows/lint-and-type.yml
Due: prettier --config .prettierrc --write

Update lint-and-type.yml
  .github/workflows/lint-and-type.yml
Due: prettier --config .prettierrc --write

chore: tests workflow
  .github/workflows/test.yml
Due: prettier --config .prettierrc --write

chore: add test and build workflows
  .github/composite-actions/install/action.yml
  .github/workflows/build.yml
  .github/workflows/lint-and-type.yml
  .github/workflows/quality.yml
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write, prettier --parser json --config .prettierrc --write

chore: merge all to quality.yml
  .github/workflows/build.yml
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: prettier --config .prettierrc --write

chore: quality workflow (#3)
  .github/composite-actions/install/action.yml
  .github/workflows/lint-and-type.yml
  .github/workflows/quality.yml
  package.json
  pnpm-lock.yaml
Due: prettier --config .prettierrc --write, prettier --parser json --config .prettierrc --write

docs: add README and contr doc
  .github/workflows/build.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
  LICENSE.md
  README.md
  docs/contributing.md
  docs/custom-buttons.png
  docs/default.gif
  docs/no-footer.png
  package.json
Due: prettier --config .prettierrc --write, prettier --parser json --config .prettierrc --write

docs: add README and contr doc (#4)
  .github/workflows/build.yml
  .github/workflows/quality.yml
  .github/workflows/tests.yml
  LICENSE.md
  README.md
  docs/contributing.md
  docs/custom-buttons.png
  docs/default.gif
  docs/no-footer.png
  package.json
Due: prettier --config .prettierrc --write, prettier --parser json --config .prettierrc --write

chore: add release tool
  package.json
  pnpm-lock.yaml
Due: prettier --parser json --config .prettierrc --write

chore: package ver
  package.json
Due: prettier --parser json --config .prettierrc --write

chore: set access to public
  package.json
Due: prettier --parser json --config .prettierrc --write

chore: remove package scope
  package.json
Due: prettier --parser json --config .prettierrc --write

Release 1.0.0
  package.json
Due: prettier --parser json --config .prettierrc --write

docs: adjust install section
  README.md
  package.json
Due: prettier --config .prettierrc --write, prettier --parser json --config .prettierrc --write

Release 1.0.1
  package.json
Due: prettier --parser json --config .prettierrc --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --config .prettierrc --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,md,yml})
  prettier --parser json --config .prettierrc --write: any of: *.{json,prettierrc}
